/* date input container*/
.date-container {
    height: 51px;
    width: 100%;
    border-bottom: 1px solid #D1D1D1;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.date-container img {
    width: 24px;
    height: 51px;
    cursor: pointer;
}

.date-input {
    font-size: 19px;
    line-height: 23px;
    padding-left: 18px;
    width: 150%;
}

.date-input::placeholder {
    color: var(--style);
}

.date-input::-webkit-calendar-picker-indicator {
    background-image: url(../../img/calendar-icon.svg);
    width: 22px;
    height: 22px;
}