header {
    background-color: var(--main-color);
    height: 92px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 39px;
    box-sizing: border-box;
    z-index: 100;
}

.logo {
    width: 47px;
    height: 57px;
}

.right-header-section {
    display: flex;
    align-items: center;
    gap: 26px;
}

.user-profile-img {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    background-color: white;
}
@media (max-width: 1000px) {
   
    .Kanban-Headline2 {
        display: none;
    }
}

@media (max-width: 500px) {
    .right-header-section img {
        display: none;
    }
}
@media (max-width: 530px) {
    .right-header-section span {
        display: none;
    }
    .navbar {
        display: none;
    } 
}
@media (max-width: 395px) {
    header { 
        width: 390px;
    }
}