<div class="navbar">
    <a id="summary-link" href="../pages/summary.html">
        <img class="summary-icon" src="../img/summary-icon.svg" alt="summyry Icon">
        <span>Summary</span>
    </a>
    <a id="board-link" href="../pages/board.html">
        <img class="board-icon" src="../img/board-icon.svg" alt="Board Icon">
        <span>Board</span>   
    </a>
    <a id="addTask-link" href="../pages/addTask.html">
        <img class="addTask-icon" src="../img/addTask-icon.svg" alt="Add task Icon">
        <span>Add Task</span>
    </a>
    
    <a id="contacts-link" href="../pages/contacts.html">
        <img class="contact-icon" src="../img/contact-icon.svg" alt="Contact Icon">
        <span>Contacts</span>
    </a>
</div>
<div>
    <a href="../pages/leagel.html">
        <img class="legal-icon" src="../img/legal-icon.svg" alt="legal Icon">
        <span>Legal notice</span>
    </a>
</div>