.addTask-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 1056px;
    width: 561px;
    left: 320px;
    top: 137px;
    border-radius: 0px;
    padding: 0px;
    gap: 8px;
}

.title-container {
    margin-bottom: 25px;
    width: 422px;
    height: 74px;
    gap: 10px;
    border-bottom: 1px solid #D1D1D1;
}

.input {
    position: relative;
    height: 48px;
    width: 215px;
    left: 21px;
    top: 13px;
    background-color: transparent;
    border: 0px solid;

}

.input[type="text"] {
    font-family: "Open Sans";
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
}

.input::placeholder {
    color: #D1D1D1;
}


.content {
    display: flex;
}


h2 {
    margin: 0;
    height: 23px;
    width: 88px;
    border-radius: nullpx;
    font-family: Open Sans;
    font-size: 19px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;


}


h3 {
    font-family: "Open Sans";
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 13px;
    padding-left: 21px;
    padding-bottom: 13px;
    padding-right: 21px;
}

.arrow-down {
    padding-right: 22px;
}

.date-container {
    height: 51px;
    width: 400px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #D1D1D1;
    appearance: none;
    background-repeat: no-repeat;
    background-image: url(../img/calendar-icon.svg);
    background-position: right 0.7rem top 70%;
    background-size: 23px;
    color: #D1D1D1;
    position: relative;
    font-family: Open Sans;
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 21px;
    padding-top: 14px;
    margin-bottom: 45px;
}




input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

.date-font {
    margin: 0;
    font-family: "Open Sans";
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 13px;
    padding-left: 21px;
    padding-bottom: 13px;
    padding-right: 21px;
    color: #D1D1D1;
}



.arrow-container {
    display: flex;
    margin-bottom: 25px;
}

.urgent-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 51px;
    width: 136px;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px #00000029;
    background: #FFFFFF;
    padding: 18px 10px 18px 10px;
    border: none;
}



textarea {
    height: 103px;
    width: 422px;
    left: 0px;
    top: 31px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #D1D1D1;
    margin-bottom: 45px;
}

textarea::placeholder {
    position: relative;
    height: 23px;
    width: 170px;
    left: 21px;
    top: 18px;
    font-family: "Open Sans";
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #D1D1D1;

}


.square {
    margin-right: 20px;
    height: 16px;
    width: 16px;
    border-radius: 3px;
    border: 2px solid #4589FF
}

.subtask-container {
    display: flex;
}

.footer-container {
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clear-create {
    display: flex;
    height: 61px;
    width: 341px;
}

.clear-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 61px;
    width: 136px;
    border-radius: 10px;
    border: 1px solid #647188;
    margin-right: 25px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
        linear-gradient(0deg, #647188, #647188);

}



.subtask1 {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.clear {
    font-family: "Open Sans";
    font-size: 23px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    padding-right: 16px;
    color: #647188;
}

.create-container {
    background-color: var(--main-color);
    border-radius: 8px;
    padding: 10px 12px;
    color: white;
    text-align: center;
    font-size: 23px;
    line-height: 27.6px;
    border: none;
    gap: 10px;
    width: 184px;
    display: flex;
    align-items: center;
}

.create-container:hover {
    background-color: #005DFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.createTask {
    font-family: "Open Sans";
    font-size: 23px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    padding-left: 2px;
    padding-right: 4px;
    margin: 0;
    width: 160px;
}


.slash-container {
    position: relative;
    top: 78px;
    height: 18.9px;
    width: 18.9px;
}

.slash-small {
    position: relative;
    top: 80px;
    left: 240px
}

.slash-middle {
    position: relative;
    top: 80px;
    left: 221px
}

.slash-big {
    position: relative;
    top: 80px;
    left: 198px
}



textarea:focus,
input:focus,
select:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
}

.priority {
    display: flex;
    margin-bottom: 25px;
}

.btn-priority1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 51px;
    width: 136px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 18px 10px 18px 10px;
    box-shadow: 0px 0px 4px 0px #00000029;
    background: #FFFFFF;
    border: none;
}

.btn-priority1:hover {
    background: #FFFFFF;
    border-bottom: 2px solid #FF3D00;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    flex: none;

}

.btn-priority2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 51px;
    width: 136px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 18px 10px 18px 10px;
    box-shadow: 0px 0px 4px 0px #00000029;
    background: #FFFFFF;
    border: none;
}

.btn-priority2:hover {
    background: #FFFFFF;
    border-bottom: 2px solid #FFA800;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    flex: none;

}

.btn-priority3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 51px;
    width: 136px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 18px 10px 18px 10px;
    box-shadow: 0px 0px 4px 0px #00000029;
    background: #FFFFFF;
    border: none;
}

.btn-priority3:hover {
    background: #FFFFFF;
    border-bottom: 2px solid #7AE229;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    flex: none;
}

.p-arrow-red {
    position: relative;
    right: 10px;
    height: 23px;
    width: 62px;
    font-family: "Open Sans";
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
}

.p-arrow-yellow {
    position: relative;
    right: 10px;
    height: 23px;
    width: 62px;
    font-family: "Open Sans";
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
}

.p-arrow-green {
    height: 23px;
    width: 62px;
    font-family: "Open Sans";
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
}


.arrow-red {
    position: relative;
    right: -10px;
    width: 20px;
}

.arrow-yellow {
    position: relative;
    right: -12px;
    width: 20px;
}

.arrow-green {
    position: relative;
    right: 12px;
    width: 20px;
}


.options-container {}


.options {
    display: flex;
    height: 51px;
    width: 422px;
    border-radius: 0px;
    animation-timing-function: ease-in-out;
    animation-duration: 100ms;
}

.options:hover {
    cursor: pointer;
    background: #D2E3FF;

}

.option-span {
    position: relative;
    height: 23px;
    width: 121px;
    left: 21px;
    top: 14px;
    border-radius: nullpx;
    font-family: Open Sans;
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;

}

.select-categorie {
    width: 422px;
    height: 52px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #D1D1D1;
    appearance: none;
    background-repeat: no-repeat;
    background-image: url(../img/drop-down-icon.svg);
    background-position: right 0.7rem top 70%;
    background-size: 16px;
    color: #000000;
    position: relative;
    font-family: "Open Sans";
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 21px;
    padding-top: 14px;
    margin: 0;
}

.select-categorie-span {
    display: flex;
    align-items: center;
    height: 23px;
    width: 225px;
    left: 21px;
    top: 14px;

}

.circle {
    position: relative;
    height: 20px;
    width: 20px;
    left: 77px;
    top: 15.5px;
    border-radius: 0px;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    background: #FC71FF;
    border: 2px solid #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
}