/* pagestyle*/
.content {
    display: flex;
    margin-left: 234px;
    margin-top: 92px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    padding-bottom: 20px;
}

.addTask-container {
    padding-left: 88px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 422px;
    height: 900px;
}

input {
    height: 48px;
    border: none;
    font-family: 'Open Sans' !important;
    box-sizing: border-box;
    width: 80%;
    font-size: 19px;
}

input:focus {
    outline: none;
}

/* style for all h2*/
.addTask-container h2 {
    margin-block-start: 0;
    margin-block-end: 0;
    height: 23px;
    font-size: 19px;
    font-weight: 700;
    line-height: 23px;
    color: #42526E;
    margin: 25px 0 5px;
}

/*style for all containers mit select options*/
.select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 52px;
    border-bottom: 1px solid #D1D1D1;
    color: #000000;
    font-size: 19px;
    line-height: 23px;
    padding-left: 18px;
    box-sizing: border-box;
}

.select img:hover {
    cursor: pointer;
}

/*title section*/
.title-container {
    margin-bottom: 25px;
    width: 422px;
    height: 74px;
    border-bottom: 1px solid #D1D1D1;
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: #FFFFFF;
}

.input[type="text"] {
    top: 15px;
    font-size: 40px;
    line-height: 48px;
}

.input::placeholder {
    color: #D1D1D1;
}

/* select contacts to assign section*/
.contacts {
    width: 100%;
    max-height: 300px;
    overflow: auto;
}

.contacts::-webkit-scrollbar {
    width: 6px;
}  
/* Track */
.contacts::-webkit-scrollbar-track {
    background: rgb(233, 233, 233);
    border-radius: 5px;
}   
/* Handle */
.contacts::-webkit-scrollbar-thumb {
    background: var(--icon);
    border-radius: 5px;
}  
/* Handle on hover */
.contacts::-webkit-scrollbar-thumb:hover {
    background: rgb(117, 117, 117);
}

.contact-label {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 18px 21px;
    box-sizing: border-box;
    max-height: fit-content;
    transition: all 125ms ease-in-out;
}

.contact-label input {
    height: unset !important;
    width: unset !important;
}

.contact-label:hover {
    cursor: pointer;
    background-color: var(--versio-2-main-color);
    transition: all 125ms ease-in-out;
}

/* date imput container*/
.date-container {
    height: 51px;
    width: 100%;
    border-bottom: 1px solid #D1D1D1;
    display: flex;
    justify-content: space-between;
}

.date-input {
    font-size: 19px;
    line-height: 23px;
    padding-left: 18px;
    width: 80%;
}

.date-input::placeholder {
    color: var(--style);
}

/* select priority section*/
.priority {
    display: flex;
    padding: 20px 0;
    width: 100%;
    justify-content: space-between;
}

.arrow-down {
    padding-right: 22px;
}

.btn-priority {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 51px;
    border-radius: 10px;
    padding: 18px 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    background: #FFFFFF;
    border: none;
    width: 130px;
    gap: 10px;
    border-bottom: 2px solid #ff3c0000;
    box-sizing: border-box;
    transition: border 175ms ease-in-out;
}

.btn-priority:hover {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    flex: none;
    background: #FFFFFF;
    cursor: pointer;
}

.red:hover {
    border-bottom: 2px solid #FF3D00;
    transition: border 175ms ease-in-out;
}

.orange:hover {
    border-bottom: 2px solid #FFA800;
    transition: border 175ms ease-in-out;
}

.green:hover {
    border-bottom: 2px solid #7AE229;
    transition: border 175ms ease-in-out;
}

.priority span {
    font-size: 19px;
    line-height: 23px;
}

.high {
 background-color: var(--urgent-color) !important;
 color: white !important;
 border-color: transparent !important;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}

.high path{
    fill: white;
}

.medium {
    background-color: var(--medium-color) !important;
    color: white !important;
    border-color: transparent !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
   }

.medium path{
    fill: white;
  } 

.low {
    background-color: var(--low-color) !important;
    color: white !important;
    border-color: transparent !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
   }

.low path{
    fill: white;
}

/* select category section*/
.option-container {
    width: 100%;
}

.categorie-selections {
    display: flex;
    text-transform: capitalize;
    align-items: center;
    gap: 10px;
    padding: 18px 21px;
    transition: background-color 175ms ease-in-out;
}

.categorie-selections:hover {
    background-color: var(--versio-2-main-color);
    cursor: pointer;
    transition: background-color 175ms ease-in-out;
}

.options {
    display: flex;
    width: 100%;
    gap: 10px;
    padding: 18px 21px;
    text-transform: capitalize;
}

.options:hover {
    background-color: var(--versio-2-main-color);
}

.circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid white;
    box-sizing: border-box;
}

#selected-category {
    display: flex;
    align-items: center;
    gap: 10px;
}

.capitalize {
    text-transform: capitalize;
}


/*description section style*/
textarea {
    height: 100px;
    width: 100%;
    border-radius: 0 10px 10px;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
}

textarea::placeholder {
    position: absolute;
    left: 21px;
    top: 18px;
    font-size: 19px;
    line-height: 23px;
    color: #D1D1D1;
    font-family: 'Open Sans';
}

textarea:focus {
    outline: none;
}


/*subtask section*/
.subtasks {
    width: 100%;
    font: 16px;
    gap: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.subtask-label {
    display: flex;
    width: 100%;
    gap: 20px;
    align-items: center;
}

.subtask-label input {
    width: 16px;
    height: unset;
}


/* buttons section */
.clear-create {
    display: flex;
    position: absolute;
    bottom: 20px;
    right: 100px;
    gap: 25px;
}
<<<<<<< HEAD


<<<<<<< HEAD
@media (min-width: 100px) and (max-width: 1150px) {
    .clear-create {
        left: 100px;
        top: 835px;
    }

}



=======










>>>>>>> 4e58d1ae3296123369c07710d96da3f9c75a0bd5
=======
>>>>>>> 05174eaf67f2dfaec5ed19d357c5f42069af67f5

@media (max-width: 770px) {
    .content {
        margin-left: 0;
    }
}

@media (max-width: 428px) {
    .right-header-section {
        display: none;
    }
}


@media (max-width: 770px) {
    .content {
        margin-left: 0;
    }
}

@media (max-width: 428px) {
    .right-header-section {
        display: none;
    }
}

