body{
    margin: 0;
    font-family: 'Open Sans';
}

.kontakt-circle{
    width: 35px;
    height: 35px;
    border-radius: 18px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: 400;
}

.pos-rel{
    position: relative;
}

.d-none{
    display: none !important;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.input-error{
    color: #FF8190;
    font-size: 13px;
    line-height: 15.6px;
    font-family: 'Inter';
    width: 422px;
}

.button{
    display: flex;
    font-size: 23px;
    border-radius: 10px;
    padding: 18px 10px;
    gap: 10px;
    align-items: center;    
    transition: background-color 125ms ease-in-out;
    cursor: pointer;
}

.primary-button{
    color: white;
    background-color: var(--main-color);
    border: none;
    transition: all 125ms ease-in-out;
}

.primary-button:hover{
    background-color: var(--light-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 125ms ease-in-out;
    cursor: pointer;
}

.secondary-button{
    color: #647188;
    border: 1px solid #647188;
    background-color: white;
    transition: all 125ms ease-in-out;
}

.secondary-button:hover .cross, .secondary-button:hover{
    color: var(--main-color);
    border: 1px solid var(--main-color);
    stroke: var(--main-color);
    cursor: pointer;
    transition: all 125ms ease-in-out;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}